html {
  font-family: $font-body;
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.618;
  margin: auto;
}

@media (max-width: $medium) {
  body {
    font-size: 1.53rem;
  }
}

@media (max-width: $mini) {
  body {
    font-size: 1.35rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
  font-weight: 700;
  hyphens: none;
  line-height: 1.1;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  margin-bottom: 0.25em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1.125em;
}

h6 {
  font-size: 1em;
}

small,
sub,
sup {
  font-size: 75%;
}

a {
  border-bottom: 2px dotted get-color(accent);
  color: get-color(accent);
  text-decoration: none;

  .ui-dark & {
    border-bottom: 2px dotted get-color(whites, light);
    color: get-color(whites, light);
  }
}

a:hover {
  border-color: get-color(accent, dark);
  color: get-color(accent, dark);

  .ui-dark & {
    border-bottom: 2px dotted get-color(accent);
    color: get-color(accent);
  }
}

ul {
  padding-left: 1em;
}

li {
  margin-bottom: 0.4em;
}

blockquote {
  border-left: 3px solid get-color(accent);
  font-style: italic;
  margin-left: 1.5em;
  padding-left: 1em;

  .ui-dark & {
    border-left: 3px solid get-color(accent, light);
  }
}

img {
  max-width: 100%;
}

/* Pre and Code */
pre {
  background-color: get-color(whites);
  display: block;
  overflow-x: auto;
  padding: 1em;
}

code {
  background-color: get-color(whites);
  font-size: 0.9em;
  padding: 0 0.5em;
  white-space: pre-wrap;
}

pre > code {
  background-color: transparent;
  padding: 0;
  white-space: pre;
}

/* Tables */
table {
  border-collapse: collapse;
  text-align: justify;
  width: 100%;
}

td,
th {
  border-bottom: 1px solid get-color(whites);
  padding: 0.5em;
}

/* Buttons, forms and input */
input,
textarea {
  border: 1px solid get-color;
}

input:focus,
textarea:focus {
  border: 1px solid get-color(accent);
}

textarea {
  width: 100%;
}

.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  background-color: get-color(accent);
  border-radius: 1px;
  border: 1px solid get-color(accent);
  box-sizing: border-box;
  color: get-color(whites);
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  .ui-dark & {
    color: get-color(whites);
    background-color: get-color(accent, dark);
    border: 1px solid get-color(accent, dark);
  }
}

.button[disabled],
button[disabled],
input[type='submit'][disabled],
input[type='reset'][disabled],
input[type='button'][disabled] {
  cursor: default;
  opacity: 0.5;
}

.button:hover,
button:hover,
input[type='submit']:focus,
input[type='submit']:hover,
input[type='reset']:focus,
input[type='reset']:hover,
input[type='button']:focus,
input[type='button']:hover {
  background-color: get-color(accent, dark);
  border-color: get-color(accent, dark);
  color: get-color(whites);
  outline: 0;

  .ui-dark & {
    color: get-color(whites);
    background-color: get-color(accent);
    border: 1px solid get-color(accent);
  }
}

textarea,
select,
input[type] {
  color: #4a4a4a;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  margin-bottom: 10px;
  background-color: get-color(whites);
  border: 1px solid get-color(whites);
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
textarea:focus,
select:focus,
input[type]:focus {
  border: 1px solid get-color(accent);
  outline: 0;
}

input[type='checkbox']:focus {
  outline: 1px dotted get-color(accent);
}

label,
legend,
fieldset {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

b,
strong {
  font-weight: 700;
}