.postsList {
  margin-top: 2em;
  margin-bottom: 4em;
}

.postsList__list {
  margin: 0;
  padding: 0;
}

.postsList__item {
  // border-bottom: 1px dotted get-color(accent);
  cursor: pointer;
  list-style-type: none;
  margin-bottom: 0;
  text-align: center;

  &:first-child .postsList__link {
    padding-top: 0;
  }
}

.postsList__link {
  border: 0 !important;
  color: get-color(blacks);
  display: block;
  padding-top: 1em;

  &:hover {
    color: get-color(accent);

    .ui-dark & {
      color: get-color(accent, dark);
    }
  }
}

.postsList__title {
  display: block;
  font-family: $font-title;
  margin-bottom: 0.25em;
  font-size: 1.5em;

  @media screen and (min-width: $small) {
    font-size: 1.75em;
  }

  @media screen and (min-width: $medium) {
    font-size: 2.25em;
  }
}

.postsList__date {
  color: get-color(blacks);
  font-size: 1.5rem;

  .ui-dark & {
    color: get-color(whites, dark);
  }
}
