.wrapper {
  background-color: get-color(whites);
  box-shadow: inset 0 4px 0 0 get-color(accent);
  color: get-color(blacks);
  padding: 0 1em;
  transition: all 500ms ease;

  @media screen and (min-width: $medium) {
    padding: 0;
  }

  .ui-dark & {
    background-color: get-color(blacks, dark);
    box-shadow: inset 0 4px 0 0 get-color(accent, dark);
    color: get-color(whites, dark);
  }
}
