.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageContent{
  padding: 1em 1em 0;

  @media screen and (min-width: $medium){
    padding: 1em 6em 2em;
  }
}

.pageContent__content {
  font-size: 1.35rem;

  @media (min-width: $mini) {
    font-size: 1.52rem;
  }

  @media (min-width: $medium) {
    font-size: 1.8rem;
  }

  @media (min-width: $large) {
    font-size: 2rem;
  }
}